.userPhoto{
  width: 100px;
  height: 100px;
}
.container{
}
.button button{
  cursor: pointer;
}
.selectedPage{
  font-weight: bold;
  font-size: 18px;
}
.block{
  cursor: pointer;
  display: inline-block;
}

