.nav {
  grid-area: n;
  background-color: #000;
  padding: 20px;
}

.item {
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: .1s ease-in;
    margin-top: 5px;
    &:hover {
      color: #da0d14;
    }
    &.activeLink{
      color: #00e5ff;
      transition: .2s ease-in;
    }
  }
}